{% extends 'base.html.twig' %}

{% block title %}Durée de la recette {% endblock %}
{% block main %}


    <div class="container d-flex justify-content-between">
        <div class="row"></div>
        {{ include('partials/_adminnav.html.twig') }}
        <main class="col-9 border border-light bg-white p-2">

            <h1>Durée de la recette </h1>

            {{ include('recipe_duration/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="btn btn-secondary" href="{{ path('app_recipe_duration_index') }}">retour à la liste</a>


        </main>
    </div>

{% endblock %}
